# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Cube_Surfer.iml
# Datasource local storage ignored files
/../../../../../../:\_Learn\Cube_Surfer\.idea\.idea.Cube_Surfer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
